# NOTE: This file is auto generated by OpenAPI Generator 6.3.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule IndaHr.Api.Authentication do
  @moduledoc """
  API calls for all endpoints tagged `Authentication`.
  """

  alias IndaHr.Connection
  import IndaHr.RequestBuilder

  @doc """
  Log In
  This method allows a user to log into the service and receive access credentials in the form of a bearer token. The token expires after  *ExpiresIn* seconds, as detailed in the response.

  ### Parameters

  - `connection` (IndaHr.Connection): Connection to server
  - `login_data` (LoginData):
  - `opts` (keyword): Optional parameters

  ### Returns

  - `{:ok, IndaHr.Model.TokenResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec log_in_post(Tesla.Env.client, IndaHr.Model.LoginData.t, keyword()) :: {:ok, IndaHr.Model.TokenResponse.t} | {:ok, IndaHr.Model.ErrorModel.t} | {:ok, IndaHr.Model.HttpValidationError.t} | {:error, Tesla.Env.t}
  def log_in_post(connection, login_data, _opts \\ []) do
    request =
      %{}
      |> method(:post)
      |> url("/hr/v2/auth/login/")
      |> add_param(:body, :body, login_data)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %IndaHr.Model.TokenResponse{}},
      {403, %IndaHr.Model.ErrorModel{}},
      {503, %IndaHr.Model.ErrorModel{}},
      {422, %IndaHr.Model.HttpValidationError{}}
    ])
  end
end
