# NOTE: This file is auto generated by OpenAPI Generator 6.3.0-SNAPSHOT (https://openapi-generator.tech).
# Do not edit this file manually.

defmodule IndaHr.Api.Skills do
  @moduledoc """
  API calls for all endpoints tagged `Skills`.
  """

  alias IndaHr.Connection
  import IndaHr.RequestBuilder

  @doc """
  Similar Skills
   This method returns the *size* most similar skills found in the knowledge base with respect to the input *skill*.  The similarity of each result to the input skill is rated with a score between <code style='color: #333333; opacity: 0.9'>0</code> (minimum similarity) and <code style='color: #333333; opacity: 0.9'>1</code> (maximum similarity). This method can be used to perform a *keyword expansion*: expanding a skill with its synonyms or semantically similar skills may be useful, for instance, to improve a job description or to perform a more flexible search with respect to a traditional word match or boolean search system.  This method returns a dictionary with keys *Hits* (the number of skills returned) and *Out*, which is a list of dictionaries with two keys: the first key (*Term*) contains the proposed skill, while the second one (*Score*)  contains its similarity score, as described above. The parameter *min_score* set the threshold for the similarity score, below which the output skills are discarded; its default value is <code style='color: #333333; opacity: 0.9'>0.5</code>.  Note that the number of retrieved similar skills may be smaller than *size* when the minimum score is larger than zero or when the searched skill is particularly uncommon.

  ### Parameters

  - `connection` (IndaHr.Connection): Connection to server
  - `query` (String.t): Input skill to be analyzed
  - `opts` (keyword): Optional parameters
    - `:size` (integer()): Number of similar skills to return.
    - `:min_score` (float()): Minimum pertinence score.
    - `:src_lang` (String.t): Optional. Language of the input skills.If missing, the detected language is assumed as `src_lang`.
    - `:dst_lang` (String.t): Optional. Language of the input skills.If missing, the detected language is assumed as `src_lang`.

  ### Returns

  - `{:ok, IndaHr.Model.SimilarEntitiesResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec similar_skills_get(Tesla.Env.client, String.t, keyword()) :: {:ok, IndaHr.Model.SimilarEntitiesResponse.t} | {:ok, IndaHr.Model.ErrorModel.t} | {:ok, IndaHr.Model.HttpValidationError.t} | {:error, Tesla.Env.t}
  def similar_skills_get(connection, query, opts \\ []) do
    optional_params = %{
      :size => :query,
      :min_score => :query,
      :src_lang => :query,
      :dst_lang => :query
    }

    request =
      %{}
      |> method(:get)
      |> url("/hr/v2/skills/similar/semantic/")
      |> add_param(:query, :query, query)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %IndaHr.Model.SimilarEntitiesResponse{}},
      {400, %IndaHr.Model.ErrorModel{}},
      {422, %IndaHr.Model.HttpValidationError{}}
    ])
  end

  @doc """
  Skills Classification
   This method returns a label associated to each given skill among the following: <code style='color: #333333; opacity: 0.9'>hard</code>, <code style='color: #333333; opacity: 0.9'>IT</code>, <code style='color: #333333; opacity: 0.9'>soft</code> and <code style='color: #333333; opacity: 0.9'>language</code>.  The request is structured according two main fields: *lang* and *skills*.  The *lang* field allows users to set the main language to which the skills to classify belong.  The *skills* field is merely the list of terms for which users want to find the closest category among the aforementioned ones. Please note that if a term is not recognized as a skill, it will be absent from the response.

  ### Parameters

  - `connection` (IndaHr.Connection): Connection to server
  - `skills_classification_request` (SkillsClassificationRequest):
  - `opts` (keyword): Optional parameters
    - `:src_lang` (String.t): Language of the input skills.

  ### Returns

  - `{:ok, IndaHr.Model.SkillsClassificationResponse.t}` on success
  - `{:error, Tesla.Env.t}` on failure
  """
  @spec skills_classification_post(Tesla.Env.client, IndaHr.Model.SkillsClassificationRequest.t, keyword()) :: {:ok, IndaHr.Model.ErrorModel.t} | {:ok, IndaHr.Model.SkillsClassificationResponse.t} | {:ok, IndaHr.Model.HttpValidationError.t} | {:error, Tesla.Env.t}
  def skills_classification_post(connection, skills_classification_request, opts \\ []) do
    optional_params = %{
      :src_lang => :query
    }

    request =
      %{}
      |> method(:post)
      |> url("/hr/v2/skills/classification/")
      |> add_param(:body, :body, skills_classification_request)
      |> add_optional_params(optional_params, opts)
      |> Enum.into([])

    connection
    |> Connection.request(request)
    |> evaluate_response([
      {200, %IndaHr.Model.SkillsClassificationResponse{}},
      {400, %IndaHr.Model.ErrorModel{}},
      {422, %IndaHr.Model.HttpValidationError{}}
    ])
  end
end
